body {
  header {
    display: flex;
    justify-content: center;
  }
  main {
    #search {
      &__bar {
        &__input {
          height: 70px;
          width: 1240px;
          margin: 0 auto;
          background-color: #e7e7e7;
          border-radius: 5px;
          border: none;
        }
      }
      &__sort {
        display: flex;
        justify-content: flex-start;
        &__ingredients {
          background-color: #3282f7;
          width: 170px;
          height: 70px;
          margin: 10px;
          &__input {
            background-color: #3282f7;
            border: none;
            width: 150px;
            height: 70px;
          }
        }
        &__appliance {
          background-color: #68d9a4;
          width: 170px;
          height: 70px;
          margin: 10px;
          &__input {
            background-color: #68d9a4;
            border: none;
            width: 150px;
            height: 70px;
          }
        }
        &__ustensils {
          background-color: #ed6454;
          width: 170px;
          height: 70px;
          margin: 10px;
          &__input {
            background-color: #ed6454;
            border: none;
            width: 150px;
            height: 70px;
          }
        }
      }
    }
    #result {
      .reccipe {
        &__img {
          background-color: grey;
        }
      }
    }
  }
}
