body header {
  display: flex;
  justify-content: center;
}
body main #search__bar__input {
  height: 70px;
  width: 1240px;
  margin: 0 auto;
  background-color: #e7e7e7;
  border-radius: 5px;
  border: none;
  color: white;
  border-radius: 5px 0 0 5px;
}
body main #search__bar #basic-addon1 {
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #e7e7e7;
}
body main #search__bar #basic-addon1 i {
  font-size: 1.5em;
}
body main #search__tags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  max-height: 100px;
}
body main #search__tags .search__tags__cell {
  border-radius: 5px;
  color: white;
  width: auto;
  padding: 3px 12px;
  margin: 3px;
  display: flex;
  justify-content: space-around;
}
body main #search__tags .search__tags__cell i {
  align-self: center;
}
body main #search__tags .appliance-tag {
  background-color: #68d9a4;
}
body main #search__tags .ingredient-tag {
  background-color: #3282f7;
}
body main #search__tags .ustensil-tag {
  background-color: #ed6454;
}
body main #search__sort {
  display: flex;
  justify-content: flex-start;
}
body main #search__sort .dropdown {
  width: 170px;
  height: 70px;
  margin: 10px;
  border-radius: 5px;
  color: white;
  position: relative;
  padding: 0px;
}
body main #search__sort .dropdown-toggle {
  border: none;
  width: 150px;
  height: 70px;
  text-align: start;
  width: 100%;
  color: white;
}
body main #search__sort ::placeholder {
  color: white;
  font-weight: 600;
}
body main #search__sort .dropdown-toggle:focus + .fa-chevron-down {
  display: none;
  position: absolute;
  top: 25px;
  right: 15px;
}
body main #search__sort .dropdown-toggle:focus ~ .fa-chevron-up {
  display: inline-block;
}
body main #search__sort .fa-chevron-up {
  display: none;
  position: absolute;
  top: 25px;
  right: 15px;
}
body main #search__sort .fa-chevron-down {
  position: absolute;
  top: 25px;
  right: 15px;
}
body main #search__sort .dropdown-menu.show {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 605px;
}
body main #search__sort .dropdown-menu.show li {
  text-align: left;
  width: 200px;
}
body main #search__sort .dropdown-menu.show li a {
  color: white;
}
body main #result .col {
  height: 390px;
}
body main #result .col .recipe {
  height: 390px;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}
body main #result .col .recipe__img {
  background-color: #c7bebe;
  width: 100%;
  height: 178px;
  border-radius: 5px 5px 0px 0px;
}
body main #result .col .recipe__info {
  background-color: #e7e7e7;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  overflow: hidden;
  border-radius: 0px 0px 5px 5px;
}
body main #result .col .recipe__info__title {
  font-size: 1.125em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body main #result .col .recipe__info__title__name {
  width: 70%;
  font-weight: 500;
}
body main #result .col .recipe__info__title__time {
  font-weight: 600;
}
body main #result .col .recipe__info__ingredients {
  font-size: 0.75em;
  margin-right: 20px;
  width: 170px;
}
body main #result .col .recipe__info__ingredients__ingredient {
  margin-bottom: 0px;
}
body main #result .col .recipe__info__description {
  font-size: 0.75em;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
body main #result .col .recipe__info__appliance {
  display: none;
}
body main #result .col .recipe__info__ustensils {
  display: none;
}

#search__sort__ingredients,
#search__sort__ingredients__input,
#search__sort__ingredients__ul,
#search__sort__ingredients__ul + .dropdown-item {
  background-color: #3282f7;
}

#search__sort__appliance,
#search__sort__appliance__input,
#search__sort__appliance__ul,
#search__sort__appliance__ul + .dropdown-item {
  background-color: #68d9a4;
}

#search__sort__ustensils,
#search__sort__ustensils__input,
#search__sort__ustensils__ul,
#search__sort__ustensils__ul + .dropdown-item {
  background-color: #ed6454;
}

/*# sourceMappingURL=style.css.map */
