body {
  header {
    display: flex;
    justify-content: center;
  }
  main {
    #search {
      &__bar {
        &__input {
          height: 70px;
          width: 1240px;
          margin: 0 auto;
          background-color: #e7e7e7;
          border-radius: 5px;
          border: none;
          color: white;
          border-radius: 5px 0 0 5px;
        }
        #basic-addon1 {
          border: none;
          border-radius: 0 5px 5px 0;
          background-color: #e7e7e7;
          i {
            font-size: 1.5em;
          }
        }
      }
      &__sort {
        display: flex;
        justify-content: flex-start;
        .dropdown {
          width: 170px;
          height: 70px;
          margin: 10px;
          border-radius: 5px;
          color: white;
          position: relative;
          padding: 0px;
        }
        .dropdown-toggle {
          border: none;
          width: 150px;
          height: 70px;
          text-align: start;
          width: 100%;
          color: white;
        }
        ::placeholder {
          color: white;
          font-weight: 700;
        }
        .dropdown-toggle:focus + .fa-chevron-down {
          display: none;
          position: absolute;
          top: 25px;
          right: 15px;
        }
        .dropdown-toggle:focus ~ .fa-chevron-up {
          display: inline-block;
        }
        .fa-chevron-up {
          display: none;
          position: absolute;
          top: 25px;
          right: 15px;
        }
        .fa-chevron-down {
          position: absolute;
          top: 25px;
          right: 15px;
        }
        .dropdown-menu.show {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          width: 605px;
          background-color: #3282f7;

          li {
            text-align: left;
            background-color: #3282f7;
            border: #3282f7;
            width: 200px;
            a {
              color: white;
            }
          }
        }
        &__ingredients {
          background-color: #3282f7;

          &__input {
            background-color: #3282f7;
          }
        }
        &__appliance {
          background-color: #68d9a4;

          &__input {
            background-color: #68d9a4;
          }

          .dropdown-menu.show {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 350px;
            width: auto;
            background-color: #68d9a4;
            overflow: scroll;
            li {
              background-color: #68d9a4;
              a {
                color: white;
              }
            }
          }
        }
        &__ustensils {
          background-color: #ed6454;

          &__input {
            background-color: #ed6454;
          }
          .dropdown-menu.show {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 350px;
            width: auto;
            background-color: #ed6454;
            overflow: scroll;
            li {
              background-color: #ed6454;
              a {
                color: white;
              }
            }
          }
        }
      }
    }
    #result {
      .col {
        height: 390px;

        .recipe {
          height: 390px;
          overflow: hidden;
          border-radius: 0 0 5px 5px;
          &__img {
            background-color: #c7bebe;
            width: 100%;
            height: 178px;
            border-radius: 5px 5px 0px 0px;
          }
          &__info {
            background-color: #e7e7e7;
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            overflow: hidden;
            border-radius: 0px 0px 5px 5px;
            &__title {
              font-size: 1.125em;
              width: 100%;
              display: flex;
              justify-content: space-between;
            }
            &__ingredients {
              font-size: 0.75em;
              margin-right: 20px;
              width: 170px;
              &__ingredient {
                margin-bottom: 2px;
              }
            }
            &__description {
              font-size: 0.75em;
              width: 160px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
            }
            &__appliance {
              display: none;
            }
            &__ustensils {
              display: none;
            }
          }
        }
      }
    }
  }
}
